<mat-drawer-container class="example-container" autosize>
    <!-- <mat-drawer [opened]="isSidenavOpened" class="example-sidenav" mode="side"> -->
    <mat-drawer #drawer [opened]="false" class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
  
    <app-product-card [product]="productMock" (productBuyClick)="onProductBuy()" (click)="onProductCardClick()"></app-product-card>
    <div class="product-buy-message" [ngClass]="{'hidden': isHidden}" >Товар добавлен в корзину</div>
    <!-- <div class="example-sidenav-content">
      <input #textInput type="text" (input)="onInput($event)">
      {{textInput.value}}

      <button
        #toggleButton
        type="button"
        mat-button
        (click)="toggleSidenavOpened()"
      >
        Toggle sidenav
      </button>
    </div> -->
</mat-drawer-container>

<ng-template #template>

</ng-template>

<!-- selector: 'button[mat-button]' -->