<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input #input matInput>
</mat-form-field>
<p>{{input.value}}</p>

<div *ngIf="(products$ | async) as products; else loader" class="container">
    <ng-container *appPagination="
        let productsGroup of (products | filterByParam : input.value : 'name');
        elementsSize: 4;
        let allIndexes = allIndexes;
        let activeIndex = index;
        let nextItem = nextItem;
        let backItem = backItem;
        let selectIndex = selectIndex
    ">
        <div class="card-container">
            <app-product-card
                *ngFor="let product of productsGroup; trackBy: trackBy"
                class="product"
                [product]="product"
                [routerLink]="'/product/' + product._id"
            ></app-product-card>
            <!-- <app-product-card
                *ngFor="let product of productsGroup; trackBy: trackBy"
                class="product"
                [product]="product"
                (click)="navigate()"
            ></app-product-card> -->
        </div>
    
        <div class="pagination-container">
            <button mat-icon-button (click)="backItem()">
                <mat-icon>
                    chevron_left
                </mat-icon>
            </button>
            <button
                mat-icon-button
                *ngFor="let index of allIndexes"
                class="pagination__page-number"
                [class.pagination__page-number_active]="activeIndex === index"
                (click)="selectIndex(index)"
            >
                {{index}}
            </button>
            <button mat-icon-button (click)="nextItem()">
                <mat-icon>
                    chevron_right
                </mat-icon>
            </button>
        </div>
    </ng-container>
</div>

<ng-template #loader>
    <mat-spinner class="loader"></mat-spinner>
</ng-template>