<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input #input matInput>
</mat-form-field>
<p>{{input.value}}</p>

<ng-container *ngIf="products; else loader" >
  <div *appPagination="
         let chunk of products;
         pageSize: 4;
         let totalPages = totalPages;
         let activeIndex = activeIndex;
         let backItem = backItem;
         let nextItem = nextItem;
         let selectPage = selectPage;"
  >
    <div class="product-list">
      <ng-container *ngIf="chunk?.length; else singleElementTemplate">
        <app-product-card *ngFor="let product of chunk" [product]="product"></app-product-card>
      </ng-container>
      <ng-template #singleElementTemplate>
        <app-product-card [product]="products[activeIndex]"></app-product-card>
      </ng-template>
    </div>

    <div>
      <button mat-icon-button (click)="backItem()">
        <mat-icon >chevron_left</mat-icon>
      </button>
      <button *ngFor="let i of totalPages" (click)="selectPage(i)" [class.page-active]="activeIndex === i">
        {{ i + 1 }}
      </button>
      <button mat-icon-button (click)="nextItem()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

  </div>
</ng-container>

<ng-template #loader>
    <mat-spinner class="loader"></mat-spinner>
</ng-template>
