<mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{product?.name}}</mat-card-title>
      <mat-card-subtitle>{{product?.price}} $</mat-card-subtitle>
    </mat-card-header>
    <!-- <ng-template
      let-img
      appCarousel
      [appCarouselOf]="product?.images"
      (emitNext)="nextItem = $event"
      (emitBack)="onRegistrBack($event)"
    > -->
    <!-- <ng-template
      let-img
      let-backItem="backItem"
      let-nextItem="nextItem"
      appCarousel
      [appCarouselOf]="product?.images"
    > -->
      <div
        *appCarousel="
          let img of product?.images as appCarouselOf;
          let backItem = backItem;
          let nextItem = nextItem;
        "
        class="galerey"
      >
          <button mat-icon-button (click)="backItem()">
            <mat-icon>
              chevron_left
            </mat-icon>
          </button>
          <img mat-card-image [src]="img.url" alt="Product photo">
          <button mat-icon-button (click)="nextItem()">
            <mat-icon>
              chevron_right
            </mat-icon>
          </button>
      </div>
    <!-- </ng-template> -->
    <div>
      <p>
        Отзывы: {{product?.feedbacksCount}}
      </p>
      <div class="raiting">
        Рейтинг:
        <mat-icon [class.star-active]="isStarActive(1)">
          star
        </mat-icon>
        <mat-icon [class.star-active]="isStarActive(2)">
          star
        </mat-icon>
        <mat-icon [class.star-active]="isStarActive(3)">
          star
        </mat-icon>
        <mat-icon [class.star-active]="isStarActive(4)">
          star
        </mat-icon>
        <mat-icon [class.star-active]="isStarActive(5)">
          star
        </mat-icon>
      </div>
    </div>
    <mat-card-actions class="mat-card-actions-align-end">
      <button mat-button (click)="onProductBuy($event)">BUY</button>
    </mat-card-actions>
</mat-card>